/*******************************
  Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Ubuntu", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header {
  font-family: "Ubuntu", 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

code,
div.terminal,
div.cmd {
  font-family: "Ubuntu Mono", monospace;
}

orange {
  color: #dd4814;
}

div.terminal,
div.terminal-output,
div.terminal-output div,
div.cmd,
div.cmd .cursor.blink {
  font-size: 1.2rem;
  background-color: #300A24;
  color: #FFF;
}

div.terminal .terminal-output div div::selection,
div.terminal .terminal-output div div a::selection,
div.terminal .terminal-output div span::selection,
div.cmd > span::selection,
div.cmd .prompt span::selection,
div.terminal > .cmd .cursor.blink {
  background-color: #FFF !important;
  color: #300A24 !important;
}

div.terminal-output {
  overflow-y: auto;
}

.ui.header .icon+.content {
  padding-left: 0;
}

.center.aligned {
  text-align: center;
}

/*******************************
 Global
*******************************/

/*-------------------
  Sidebar
--------------------*/

#classroom .sidebar h1 {
  cursor: pointer;
}

#classroom .sidebar h2.ui.header {
  margin-top: 0;
}

#classroom .sidebar .list .item > .content > .sub {
  font-weight: 400;
}

/*-------------------
  Grid
--------------------*/

#classroom .grid {
  min-height: 100%;
  height: 100%;
  bottom: 0;
  margin-bottom: 0;
}

/*-------------------
 Inbox
--------------------*/

#classroom .right.column {
  padding: 1em 2em;
  background-color: #FAFAFA;
}

/*******************************
  Responsive
*******************************/

@media only screen and (max-width : 1000px) {
  #classroom .inbox .date {
    float: none;
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width : 1250px) {
  #classroom .left.column > .menu .item {
    font-size: 1rem;
  }
}
